<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>

<nav>
    <li><a href="/s/dashboard/teacher_schedule">Check Teacher's schedules</a></li>
    <li><a href="/s/dashboard/book">Request an appointment</a></li>
    <li><a href="/s/dashboard/appointments">My appointments</a></li>
</nav>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>