<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><img src="/assets/cyber-security-icon.jpg" alt="icon" width="20%" /></h1>
            <p>Are you a student or teacher?</p>
            <a href="/auth/register" class="btn btn-primary btn-block">Student</a>
            <a href="/auth/teacher" class="btn btn-secondary btn-block mb-2">Teacher</a>
        </div>
    </div>
</div>