<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<nav>
    <li><a href="/t/dashboard/schedule">Enter my schedule for this week</a></li>
    <li><a href="/t/dashboard/bookings">My appointments</a></li>
</nav>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>